# Ambiente Virtual
.venv/
venv/

# Arquivo de variáveis de ambiente
.env
Modelo de dados - draw.io.htm

# Arquivos de cache e compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Pasta de configuração do PyCharm/IntelliJ
.idea/

# Arquivos de sistema operacional
.DS_Store
Thumbs.db